{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">    
  <div class="span12">
    <h3>Nouveau CV</h3>

    <form class="well form-horizontal" action="/cv/new/" method="post">
      {% csrf_token %}
      <fieldset>
	{% if helpform == 'notfound' %}
	<div class="alert alert-error">
	  {% trans "This email address was not found" %}
	</div>
	{% endif %}    
	<div class="control-group">
	  <label class="control-label" for="firstname">{% trans "Title" %}</label>
	  <div class="controls">
	    {{form.title}}
	    {{form.title.errors}}
	  </div>
	</div>
	
	<div class="control-group">
	  <input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
	</div>	    
      </fieldset>
    </form>

  </div>
</div>
{% endblock %}
